<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular app </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link " href="consume">Books</a>
      <a class="nav-item nav-link" href="consume/characters">Characters</a>
      <a class="nav-item nav-link " href="api_docs.html">Api Docs</a>
      <a class="nav-item nav-link" href="https://github.com/Wanyeki/books-api-laravel">Github (backend)</a>
      <a class="nav-item nav-link" href="https://github.com/Wanyeki/books-and-characters-angular">Github (frontend)</a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Comments</h1>
        <p class="lead">Comments count {{comments.length}}</p>
         <p class="lead">
        <a class="btn btn-success btn-lg" href="consume/comments/new?id={{bookId}}" role="button">New Comment</a>
    </p>
</div> <hr class="my-2">
    </div>
<div class="container">
<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Commenter</th>
            <th>Comment</th>
            <th>Date created</th>
            <th>Date Updated</th>
            <th>Ip Address</th>

        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comment of comments">
            <td>{{comment.commenterName}}</td>
            <td>{{comment.comment}}</td>
            <td>{{comment.created_at}}</td>
            <td>{{comment.updated_at}}</td>
            <td>{{comment.ipAddress}}</td>
            <td> <a href="consume/comments/new?id={{bookId}}&commentId={{comment.id}}"><button  class="btn btn-primary">Edit</button></a></td>
            <td><button (click)="deleteComment(comment.id)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
</table>
</div>